<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>For First and Second Year College Students</title>
  </head>

<body onload="fetchData('first-and-second')">
  <div id="data-first-and-second">
    <h>Opportunities for first and second year college students</h>
  </div>

</body>

  </html>