<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>Government Jobs</title>
  </head>

<body onload="fetchData('gov-jobs')">
  <div id="data-gov-jobs">
    <h>Government Jobs</h>
    <p>Most of these are still paid opportunities but with the caveat that you 
      must be a US Citizen or permanent resident
    </p>
  </div>

</body>

  </html>