<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>Graduate School</title>
  </head>

<body onload="fetchData('grad')">
  <div id="data-grad">
    <h>Resources for those considering grad school or seeking grad school funding</h>
  </div>

</body>