<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- {% assets "mainStyle_css" %}
    <style type="text/css" src="{{ ASSET_URL }}"></style>
    {% endassets %} -->
    <title>CS Resources</title>
  </head>

  <body>
    <div id="navigation" class="navbar">
      <div id="drop" class="dropdown">
        
        <button class="dropbtn">Resources by Category <i class="fa fa-caret-down"></i></button>

        <div class="dropdown-content">
          <a href = "/paid-ops">Paid Opportunities</a>
          <a href = "/fands">First and Second Year</a>
          <a href = "/gov-jobs">Government Jobs</a>
          <a href = "/prep">Interview Prep</a>
          <a href = "/news">Tech News</a>
          <a href = "/conferences">Tech Conferences</a>
          <a href = "/hackathons">Hackathons</a>
          <a href = "/grad">Grad School Resources</a>
          <a href = "/programs">Tech Programs</a>
          <a href = "/learn">Learn Online</a>
        </div>
      </div>
      <a class="active" href ="#home">Home</a>
    </div>
    <!-- style="background-image: url('ombre_background.jpg');" -->
    <!-- Welcome and intro -->
    <div id="home" class="hero-image">
      <div class="hero-text">
        <h3 style="font-size:10vh">
          Computer Science Resources
        </h3>
        <h2 style="font-size:4vh">Attempting to gather
          computer science resources in one place
          <br>
        </h2>
      </div>
    </div>

    

    <div id="homebody" class="body">
      <div class="flip-cards">
        <!-- Paid opportunities column-->
    
          <a href="/paid-ops">
            <div class="flip-card" >
              <div id="paid" class="flip-card-inner" >
                <div class="flip-card-front">
                <h1>Paid opportunities</h1>
                </div>
                <div class="flip-card-back">
                  <p>Some companies that offer paid internships to students</p>
                </div>
                </div>
              </div>
          </a>
      
      <!-- Fellowships and Scholarships column-->
          <a href="/grad">
            <div  class="flip-card">
              <div id="grads" class="flip-card-inner">
                <div class="flip-card-front">
                <h1>Fellowships and Scholarships</h1>
                </div>
                <div class="flip-card-back">
                  <p>If you're considering grad school, here you'll find some related resources</p>
                </div>
                </div>
              </div>
          </a>

      <!-- Online Courses-->
        <a href="/learn">
          <div class="flip-card">
            <div id="learn" class="flip-card-inner">
              <div class="flip-card-front">
              <h1>Online Courses</h1>
              </div>
              <div class="flip-card-back">
                <p>Gathered some sites that offer free and/or affordable courses online</p>
              </div>
              </div>
            </div>
        </a>

      <!-- Programs flip card -->
      
        <a href="/programs">
          <div class="flip-card">
            <div id="programs" class="flip-card-inner">
              <div class="flip-card-front">
              <h1>Tech Programs</h1>
              </div>
              <div class="flip-card-back">
                <p>Some of the many places that offer guidance on starting your tech career</p> 

              </div>
              </div>
            </div>
        </a>
      
     <!-- closing grid div--> 
    </div>

  <!-- Closing homebody div-->
  </div>
  </body> 
</html>