<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>Government Jobs</title>
  </head>

<body onload="fetchData('news')">
  <div id="data-news">
    <h>Tech News</h>
    <p>Great places to stay informed on things happening in tech 
      and sometimes also good places to find job listings
    </p>
  </div>

</body>

  </html>